<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GUIforSMDV.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GUIforSMDV.Properties.Settings>
            <setting name="SciezkaDoSMDV" serializeAs="String">
                <value />
            </setting>
            <setting name="SciezkaDoPySMDV" serializeAs="String">
                <value />
            </setting>
            <setting name="SciezkaDoMacierzy" serializeAs="String">
                <value>Macierze\\</value>
            </setting>
            <setting name="SciezkaDoLogow" serializeAs="String">
                <value>Logi\\</value>
            </setting>
            <setting name="Separator" serializeAs="String">
                <value>;</value>
            </setting>
            <setting name="SymbolBrakDanych" serializeAs="String">
                <value>b/d</value>
            </setting>
            <setting name="Powtorzenia" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="KomunikatyNaKonsoli" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UtworzenieLogu" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ObliczeniaNaCPU" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ObliczeniaNaCUDA" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ObliczeniaSMDV" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ObliczeniaPySMDV" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PythonExe" serializeAs="String">
                <value />
            </setting>
            <setting name="RozmiarBloku" serializeAs="String">
                <value />
            </setting>
            <setting name="SliceSize" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="WatkiNaWiersz" serializeAs="String">
                <value>2</value>
            </setting>
        </GUIforSMDV.Properties.Settings>
    </userSettings>
</configuration>